* {
  box-sizing: border-box; /* Para garantir que padding e border não afetem o tamanho */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-form {
  background-image: url('./images/bg.png'); /* Ajuste o caminho relativo para a imagem */
  background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 20px; /* Adiciona espaçamento nas bordas */
}

.login__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px; /* Diminui a margem para melhor responsividade */
}

.login__header img {
  width: 80%; /* Torna a imagem responsiva */
  max-width: 250px; /* Limita a largura máxima */
}

.login__header h1 {
  color: #333;
  font-size: 1.5em;
  text-align: center;
  margin: 10px 0; /* Margens em cima e embaixo */
}

.login__input {
  border: 2px solid #333;
  border-radius: 8px;
  color: #333;
  font-size: 1em;
  margin-bottom: 15px;
  max-width: 300px; /* Largura máxima conforme seu estilo original */
  outline: none;
  padding: 15px;
  width: 100%;
}

.login__button {
  background-color: #00b5cc;
  border: 3px solid #b2df28;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  max-width: 300px; /* Ajuste para largura máxima */
  padding: 15px;
  width: 100%;
}

.login__button:disabled {
  background-color: #eee;
  border: 2px solid #969595;
  color: #aaa;
  cursor: auto;
}

.botao-voltar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: transparent; /* Cor de fundo do botão */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao-voltar img {
  width: 70%; /* Tamanho do ícone do botão */
}
